// Use the gear_dropdown.png screenshot as a style guide
// .gear-dropdown.parent:hover {
//     display: block;
//     background-color: pink;
// }
.gear-dropdown {
    position: absolute;
    display: none;
    background: white;
    z-index: 1;

    border: 1px solid $light-gray;
    padding: 12px 10px;
    top: 28px;
    right: 1px;
    font-family: $sans-serif;
    width: 225px;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

.gear-dropdown span{
    text-transform: uppercase;
    padding: 5px 5px 5px 5px;
    margin: 5px 0;
    font-size: 11px;
    color: $dark-gray;
    font-weight: 900;
}

.gear-dropdown .editions li{
    color: $gray;
    text-transform: uppercase;
}

.gear-dropdown .editions{
    border-bottom: 1px solid $light-gray;
    padding-bottom: 5px;
}

.gear-dropdown .editions li:hover{
    color: black;
    background-color: $light-gray;
    border-radius: 3px;
}

.gear-dropdown .help li{
    color: $blue;    
}

.gear-dropdown .dropdown-subtitle{
    padding-top: 10px;    
}

.gear-dropdown .help li:hover{
    text-decoration: underline;  
}


.gear-dropdown ul > li{
    display: flex;
    align-items: center;
    padding: 5px;
}

#settings-btn:hover #gear-dropdown{
    display:block;
}
#gear-dropdown:hover{
    display:block;
}
// .settings-btn:hover{
//     display:block;
// }

// .gear-dropdown.parent:hover{
//     display: block;
// }