#sections-sidebar-btn{
    position: relative;
}

.sections-sidebar{
    opacity: 0;
    position: fixed;
    background: white;
    z-index: 1;
    float: left;
    border: 1px solid $light-gray;
    padding: 12px 10px;
    top: 0px;
    left: 0px;
    font-weight: 800;
    // right: 0px;
    font-family: $sans-serif;
    width: 150px;
    height: 100%;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

.sections-sidebar.expand{
    opacity: 1;
}

.dropdown {
    position: relative;
}

.sidebar-sections-link > li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar-sections-link > li:hover{
    background-color: #bfecfa;
}

.sidebar-sections-link > li:hover > .dropdown{
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    left: 100px;

}

.dropdown:hover > ul {
    display: block;
}

.dropdown > ul {
    background: white;
    z-index: 1;
    float: left;
    border: 1px solid $light-gray;
    padding: 12px 10px;
    top: 0px;
    left: 0px;
    font-weight: 800;
    // right: 0px;
    font-family: $sans-serif;
    width: 150px;
    height: 100%;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

.dropdown li {
    position: relative;
}

.dropdown li:after,
.dropdown li:before {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    border-left: 5px solid gray;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    width: 0;
    height: 0;
}
.dropdown li:after {
    right: 2px;
    border-left: 5px solid white;
    z-index: 1;
}